<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" throwExceptions="false" minlevel="Info">
	<targets>
		<!-- Write logs to console -->
		<target name="console" xsi:type="Console" layout="${longdate} ${level} ${message} ${exception}" />
		<!-- Write logs to a file -->
		<target name="logfile" xsi:type="File" fileName="logs/logfile.txt" layout="${longdate} ${level} ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log all messages to console and logfile -->
		<logger name="*" minlevel="Info" writeTo="console,logfile" />
	</rules>
</nlog>
